{% extends 'base.html.twig' %}

{% block body %}
    <h1>Competition list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Logourl</th>
                <th>Bjcpcompetitionid</th>
                <th>Hostname</th>
                <th>Hostlocation</th>
                <th>Hosturl</th>
                <th>Registrationopen</th>
                <th>Registrationclose</th>
                <th>Entryopen</th>
                <th>Entryclose</th>
                <th>Dropoffopen</th>
                <th>Dropoffclose</th>
                <th>Shippingopen</th>
                <th>Shippingclose</th>
                <th>Lockdown</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competition in competitions %}
            <tr>
                <td><a href="{{ path('admin_competition_show', { 'id': competition.id }) }}">{{ competition.id }}</a></td>
                <td>{{ competition.name }}</td>
                <td>{{ competition.description }}</td>
                <td>{{ competition.logoUrl }}</td>
                <td>{{ competition.bjcpCompetitionId }}</td>
                <td>{{ competition.hostName }}</td>
                <td>{{ competition.hostLocation }}</td>
                <td>{{ competition.hostUrl }}</td>
                <td>{% if competition.registrationOpen %}{{ competition.registrationOpen|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if competition.registrationClose %}{{ competition.registrationClose|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if competition.entryOpen %}{{ competition.entryOpen|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if competition.entryClose %}{{ competition.entryClose|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if competition.dropOffOpen %}{{ competition.dropOffOpen|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if competition.dropOffClose %}{{ competition.dropOffClose|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if competition.shippingOpen %}{{ competition.shippingOpen|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if competition.shippingClose %}{{ competition.shippingClose|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if competition.lockDown %}{{ competition.lockDown|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_competition_show', { 'id': competition.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_competition_edit', { 'id': competition.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_competition_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
