{% extends 'base.html.twig' %}

{% block body %}
    <h1>Competition</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competition.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ competition.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ competition.description }}</td>
            </tr>
            <tr>
                <th>Logourl</th>
                <td>{{ competition.logoUrl }}</td>
            </tr>
            <tr>
                <th>Bjcpcompetitionid</th>
                <td>{{ competition.bjcpCompetitionId }}</td>
            </tr>
            <tr>
                <th>Hostname</th>
                <td>{{ competition.hostName }}</td>
            </tr>
            <tr>
                <th>Hostlocation</th>
                <td>{{ competition.hostLocation }}</td>
            </tr>
            <tr>
                <th>Hosturl</th>
                <td>{{ competition.hostUrl }}</td>
            </tr>
            <tr>
                <th>Registrationopen</th>
                <td>{% if competition.registrationOpen %}{{ competition.registrationOpen|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Registrationclose</th>
                <td>{% if competition.registrationClose %}{{ competition.registrationClose|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Entryopen</th>
                <td>{% if competition.entryOpen %}{{ competition.entryOpen|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Entryclose</th>
                <td>{% if competition.entryClose %}{{ competition.entryClose|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dropoffopen</th>
                <td>{% if competition.dropOffOpen %}{{ competition.dropOffOpen|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dropoffclose</th>
                <td>{% if competition.dropOffClose %}{{ competition.dropOffClose|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Shippingopen</th>
                <td>{% if competition.shippingOpen %}{{ competition.shippingOpen|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Shippingclose</th>
                <td>{% if competition.shippingClose %}{{ competition.shippingClose|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lockdown</th>
                <td>{% if competition.lockDown %}{{ competition.lockDown|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_competition_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_competition_edit', { 'id': competition.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
