{% extends 'admin/index.html.twig' %}
{% set sidebar_selected = 'locations' %}
{% block header %}
    <h1>{% trans %}Edit{% endtrans %} {{location.name}}</h1>
    <div class="actions">
        <a class="btn btn-danger" href="{{ path('admin_location_index') }}">{% trans %}Cancel{% endtrans %}</a>
    </div>

{% endblock header %}
{% block content %}
    {{ form_start(edit_form, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 9}) }}
        {{ form_widget(edit_form) }}

        <div class="col-lg-3"></div>
        <input type="submit" class="btn btn-success" value="{% trans %}Update{% endtrans %}" />
    {{ form_end(edit_form) }}


{% endblock %}
