{% extends 'base.html.twig' %}
{% set navbar_selected = 'home' %}
    {% block sidebar %}
        {% if competition.logo is not empty %}
            <div class="logo">
                <img class="img-responsive" src ="/uploads/{{competition.logo}}"/>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">Competition Status</div>
            <div class="list-group">
                <li class="list-group-item">Account Registration {{ icon('ok') }}</li>
                <li class="list-group-item">Add Entries {{ icon('remove') }}</li>
                <li class="list-group-item">Entry Drop Off {{ icon('ok') }}</li>
                <li class="list-group-item">Entry Shipping {{ icon('ok') }}</li>
                <li class="list-group-item">Lock Down {{ icon('ok') }}</li>
            </div>
        </div>
        {% block actions %}
        {% endblock actions %}
    {% endblock sidebar %}
{% block content %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>{{ competition.name }}</h1>
                <p>{{ competition.description | nl2br }}</p>
            </div>
        </div>
    </div>
{% endblock content%}
