{% if navbar_selected is not defined %}
    {% set navbar_selected = '' %}
{% endif %}
<nav class="navbar navbar-default navbar-fixed-top screen-only" role="navigation" style="border-radius:0px">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav" style="margin-left:-15px">
                <li{% if navbar_selected == 'home' %} class="active"{% endif %}><a href="{{ path('homepage') }}">{{icon('home')}} {% trans %}Home{% endtrans %}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li class="{% if navbar_selected == 'user' %} active{% endif %}">
                        <a href="{{ path('homepage') }}">{{ app.user.username }}</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">{{ icon('log-out')}} {% trans %}Log out{% endtrans %}</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li{% if navbar_selected == 'admin' %} class="active"{% endif %}>
                            <a href="{{ path('admin_index') }}">{{ icon('pencil')}} {% trans %}Admin{% endtrans %}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">{{ icon('user')}} {% trans %}Register{% endtrans %}</a>
                    </li>  
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ icon('log-in')}} {% trans %}Log in{% endtrans %}</a>
                    </li>                    
                {% endif %}
                

                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li><a style="padding:17px 5px 13px 5px" href="{{ path('default', {'_switch_user': '_exit'}) }}" title="Exit impersonation"><i class="glyphicon glyphicon-eye-close"></i></a></li>
                {% endif %}
                <li><a style="padding:17px 0px 13px 5px" href="#" id="helpLink" title="Get help for this page"><i class="glyphicon glyphicon-info-sign"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
{% include 'home/help-modal.html.twig' with {help: help|default()} %}
